body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
header img {
    width: 150px;
    border-radius: 50%;
}
section {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
footer {
    margin-top: 20px;
}

li {
    margin-bottom: 10px; /* Adjust margin bottom to create space between list items */
}