body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
}

#sidebar {
    background-color: #fff;
    border-right: 1px solid #dee2e6;
}

#sidebar .nav-link {
    color: #495057;
    font-weight: 500;
}

#sidebar .nav-link.active,
#sidebar .nav-link:hover {
    color: #0d6efd;
}

#sidebar .d-flex a {
    font-size: 1.2rem;
    color: #495057;
}

#sidebar .d-flex a:hover {
    color: #0d6efd;
}

main h2 {
    color: #343a40;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.list-group-item {
    border: none;
}
